<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hspedu.mapper.PersonMapper">
    <!--
        1、配置/实现public Person getPersonById(Integer id);
        2、完成通过Person的id获取到Person,包括这个Person关联的IdenCard对象[级联查询]
        3. 为了让小伙伴们理解的更加深刻一点，老师先用大家容易想到的方式-分析问题-解决问题
        4. 看到如果配置成简单 resultType="Person" 问题就是没有实现级联查询
             返回的属性是null 我们希望是返回这个对象
        5. 自定义resultMap 搞定 映射返回的结果
        6. 因为 getPersonById 最终返回的是 Person对象[只是有级联的对象属性], type仍然配置"Person"
        多表查询返回的是一个两个表横向拼接的表格
    -->

    <resultMap id="PersonResultMap" type="Person">
        <!--<result property="id" column="id"/>-->
        <!--id – 一个 ID 结果；标记出作为 ID 的结果可以帮助提高整体性能
            1.property="id" 表示person 属性 id ,通常是主键
            2.column="id" 表示对应表的字段
            <result property="id" column="id"/> 这个的优化
        -->
        <id property="id" column="id"/>

        <result property="name" column="name"/>
        <!--association – 一个复杂类型的关联
        1. property="card" 表示 Person对象的 card 属性
        2. javaType="IdenCard" 表示card 属性 的类型
        3. column="id" 是从我们的 下面这个语句查询后返回的字段
        SELECT *  FROM `person`,`idencard` WHERE `person`.id=1
        AND `person`.card_id = `idencard`.id
        -->
        <association property="card" javaType="IdenCard">
            <!--            同理 这里面是card 对象和card 在mysql里面的映射 -->
            <result property="id" column="id"/>
            <result property="card_sn" column="card_sn"/>
        </association>
    </resultMap>
    <select id="getPersonById" parameterType="Integer"
            resultMap="PersonResultMap">
        SELECT *
        FROM `person`,
             `idencard`
        WHERE `person`.id = #{id}
          AND `person`.card_id = `idencard`.id
    </select>

    <!--    方法2  方法是返回是一样的 配置不同罢了-->
    <!--
        1、通过Person的id获取到Person,包括这个Person关联的IdenCard对象,方式2
        2、public Person getPersonById2(Integer id);
        3. 这里的方式和前面不同.
        1) 先通过 SELECT * FROM `person` WHERE `id` = #{id} 返回 person信息
        2) 再通过 返回的card_id 值，再执行操作，得到IdenCard 数据
    -->
    <resultMap id="PersonResultMap2" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!--老韩再次解读
        1. mybatis第二种方式核心思想: 将这个多表联查，分解成单表操作 , 这样简洁，而且易于维护 ,推荐
        2. 而且可以复用你已经写好的方法 -组合
        3. property="card": 表示 Person对象的 card 属性
        4. column="card_id" 这个是
        SELECT * FROM `person` WHERE `id` = #{id}  返回的 字段 card_id 信息/数据
        5. 返回的 字段 card_id 信息/数据 作为getIdenCardById入参, 来执行
        -->

        <association property="card" column="card_id"
                     select="com.hspedu.mapper.IdenCardMapper.getIdenCardById"/>
        <!--        他的思路是先去查符合id的person 然后拿着person的card Id去查card -->
        <!-- 这里等于是他拿着这个去了另一个接口 走了另一个xml配置的查询方法 然后把那个结果给返回回来了-->
        <!--        <select id="getIdenCardById" parameterType="Integer"-->
        <!--                resultType="IdenCard">-->
        <!--            SELECT * FROM `idencard` WHERE `id` = #{id}-->
        <!--        </select>-->

    </resultMap>
    <select id="getPersonById2" parameterType="Integer" resultMap="PersonResultMap2">
        SELECT *
        FROM `person`
        WHERE `id` = #{id}
    </select>


    <!--
        1、//编写方法,通过card_id 查询得到person对象/数据
        2、public  Person getPersonByCardId(Integer cardId);
    -->
    <select id="getPersonByCardId" parameterType="Integer" resultType="Person">
        SELECT *
        FROM person
        WHERE card_id = #{cardId}
    </select>


</mapper>